{% extends 'q_and_a/base.html' %}

{% block content %}
	<div class="card my-4">
		<div class="card-header">
			<div class="media">
				<img src="..." alt="" class="profile-img">
				<h3 class="ml-3 align-self-center">{{ question.title }}</h3>
			</div>
		</div>
		<div class="card-body">
			{{ question.content }}
		</div>
		<div class="card-footer">
			<small class="muted">{{ question.date_posted|date:'F d, Y' }}</small>
		</div>
	</div>
	
	<form action="" method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			{{ answer_form }}
		</fieldset>
		<button type="submit" class="btn btn-info btn-comment">Submit the answer</button>
	</form>

	{% include 'q_and_a/answers.html' %}
{% endblock content %}